Click==7.0
Django==2.2.18
django-leaflet==0.25.0
django-progressive-web-app==0.1.1
fix-gdal==0.0.7.dev0
Flask==1.1.1
GDAL==3.0.1
geos==0.2.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.3
lxml==4.4.1
MarkupSafe==1.1.1
Pillow==6.2.1
postgis==1.0.4
psycopg2==2.8.4
psycopg2-binary==2.8.4
pytz==2019.3
sqlparse==0.3.0
Werkzeug==0.16.0
